[Unit]
Description=Agente Inteligente Documental (challenge-ai-agent)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=opc
Group=opc
WorkingDirectory=/home/opc/challenge-ai-agent/app
EnvironmentFile=-/home/opc/challenge-ai-agent/.env
ExecStart=/home/opc/challenge-ai-agent/venv/bin/python /opt/challenge-ai-agent/app/main.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=challenge-ai-agent

# Endurecimiento básico del servicio
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
